# Gradle
.gradle/
build/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Visual Studio Code ###
*.code-workspace

### SDKMAN! ###
.sdkmanrc
